{{> _navbar }}
<div class="container mt-4">
    <p>Your score is</p>
    <h1>{{data.score}}</h1>
    <a href="/quiz_public/scoreboard/{{data.quizCode}}" class="btn btn-secondary btn-sm">Scoreboard</a>
</div>
